@import 'constants'

.btn
	font-family: 'Inter', sans-serif
	font-size: 16px
	color: rgba(0, 11, 38, 0.56)
	border: none
	border-radius: 8px
	cursor: pointer
	padding: 0

	&--icon_left img
		margin-right: 12px

	&--green
		width: 170px
		height: 48px
		background: #07C88E
		color: white
		&:hover
			background-color: #07b482

	&--gray
		width: 170px
		height: 48px
		background: rgba(62, 80, 114, 0.08)
		&:hover
			background-color: rgba(54, 73, 101, 0.12)

	&--square_gray
		width: 48px
		height: 48px
		background: rgba(62, 80, 114, 0.08)
		&:hover
			background-color: rgba(54, 73, 101, 0.12)

	&--link
		background: none
		border: none
		color: $c-primary
		width: available
		font-size: 16px
		cursor: pointer
		margin-top: 16px

	&--partners
		margin-top: 32px
		color: $c-btn-dark-font

	&--contentOnly
		width: fit-content
		background-color: transparent
		color: $c-btn-dark-font
		display: flex
		align-items: center

	&:disabled
		background-color: $c-disabled-bg
		color: $c-disabled-font
		cursor: auto
