.eco_market_card
	display: flex
	flex-direction: column
	cursor: pointer
	justify-content: center
	overflow: hidden
	position: relative
	.cardTop
		position: relative
		.photo
			max-width: 100%
	.linksBlock
		display: flex
		flex-direction: column
		row-gap: 5px
	.card_price
		display: flex
		flex-direction: row
		gap: 8px
		line-height: 20px
		font-size: 14px
		font-weight: 600
