<app-header></app-header>
<app-swiper></app-swiper>
<div class="wrapper">
	<app-main-page-card title='Пункты сбора' text='Посмотри, где в твоем городе можно сдать вторсырье на переработку'
	            image='../../assets/small_map.svg'></app-main-page-card>
	<app-main-page-card title='ЭкоМаркет'
	            text='Используй заработанные экокоины для покупки товаров из переработанных материалов '
	            image='../../assets/small_shop.svg'></app-main-page-card>
</div>
<app-footer></app-footer>
