<div class="header_wrapper">
	<a routerLink="/" class="logo">
		<img src="/assets/logo.svg" alt="">
	</a>
		<a routerLink="/" class="header_link">
			Главная
		</a>
		<a routerLink="/" class="header_link">
			Пункты сбора
		</a>
		<a routerLink="/" class="header_link">
			Экомаркет
		</a>
		<a routerLink="/" class="header_link">
			О сервисе
		</a>
	<div class="header_right">
		<img src="/assets/place.svg" alt="" class='header_icon'>
		Город
		<app-button>
			<img src="/assets/enter.svg" alt="" class='header_icon'>
			Войти
		</app-button>
	</div>
</div>
