.header_wrapper
	height: 80px
	margin-right: 10vh
	margin-left: 10vh
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	.logo
		width: 94px
		margin-right: 24px
	.header_link
		display: flex
		justify-content: center
		align-items: center
		height: 100%
		color: #000B26
		opacity: 64%
		text-decoration: none
		margin-right: 24px
		&:active
			opacity: 100%
			border-bottom: 3px solid #07C88E
	.header_right
		display: flex
		flex-direction: row
		margin-right: 24px
	.header_modal_btn
		font-family: 'Inter', sans-serif
		font-size: 15px
		background-color: #FFFFFF
		border: none
		cursor: pointer
	.header_icon
		margin-right: 10px
	.no_user_photo
		width: 40px
		height: 40px
		border-radius: 50px
		background-color: #07C88E


