.content
	display: flex
	align-content: center
	flex-direction: row
	justify-content: space-between
	padding-left: 64px
	border-radius: 20px
	h1
		font-family: Inter, sans-serif
		font-style: normal
		font-weight: bold
		font-size: 48px
		line-height: 56px
		color: #000B26
		margin-bottom: 16px
	p
		margin-bottom: 40px
	img
		width: 560px
		padding-left: 90px
		border-radius: 20px
	.info
		margin-top: 56px
