<form
	[formGroup]='form'
	(ngSubmit)='onSubmit()'
>
	<input
		type='text'
		formControlName='code'
		placeholder='Код'
		[class.input--error]='control("code")?.touched && control("code")?.dirty && control("code")?.errors'
	/>
	<ng-container
		*ngIf='control("code")?.touched && control("code")?.dirty && control("code")?.errors'
	>
		<div class='error'>{{ getError(control("code")?.errors) }}</div>
	</ng-container>
	<button
		appButton
		type='submit'
		[disabled]='form.dirty && form.invalid'
	>
		Отправить
	</button>
</form>
<button
	appButton
	theme='LINK'
	(click)='openRegModal()'
>
	Не получил(-а) код
</button>
<button
	appButton
	theme='GRAY'
	(click) = 'openAuthPartners()'
>
	Вход для партнёров
</button>

