<app-header></app-header>
<main class='content_aligner'>
	<div class='main_container'>
		<h1>Эко маркет</h1>
		<div class='content_container'>
			<div class='filters'>
				Filters
			</div>
			<div class='market_container'>
			<div *ngFor="let item of (cards$|async)">
				<app-eco-market-card
					[photo]="item.photo"
					[title]="item.title"
					[brand]="item.brand"
					[category]="item.category"
					[price]="item.price"
				></app-eco-market-card>
			</div>
			</div>
		</div>
	</div>
</main>
<app-footer></app-footer>
