.content_aligner
	width: 100vw
	.main_container
		display: flex
		flex-direction: column
		.content_container
			display: flex
			flex-direction: row
			overflow: hidden
			.filters
				width: 20vw
			.market_container
				display: grid
				grid-template-columns: repeat(4, 1fr)
				gap: 10px 15px
				justify-content: center
